@model IEnumerable<MVC_Client.Models.CustomerMVC>

@{
    ViewBag.Title = "Index";
}

<h3>Customers</h3><br />

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: cadetblue;
    }

    tr:hover {
        background-color: moccasin;
    }
    .link:hover {
        color: black; 
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_balance)
        </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_balance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "link" }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "link" })

            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>
